@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Mvc.Localization

@inject IOptions<RequestLocalizationOptions> locOptions
@inject IViewLocalizer localizer

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["Title"] = "Home Page";
}

<div class="hero_area">
    <!-- slider section -->
    <section class="slider_section ">
        <div class="container ">
            <div class="row">
                <div class="col-md-6 ">
                    <div class="detail-box">
                        <h1>
                            The Fourth conference  <br>
                            of the administrative sciences <br>
                            at universities of the GCC countries
                        </h1>
                        <p>
                            Cultural & Creative economy
                            Present potentials & promising opportunities
                            21 – 22 April 2025 I King Saudi University Riyadh, Hamad Aljassir Hall
                            Kingdom of Saudi Arabia

                        </p>
                        <a href="https://localhost:7271/Contact/ContactUs">
                            @localizer["ContactUs"]
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img-box">
                        <img src="images/banen-Photoroom (1).png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end slider section -->
</div>



<section class="service_section layout_padding">
    <div class="container ">
        <div class="heading_container heading_center">
            <h2> Announcement </h2>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4 mx-auto">
                <div class="box ">
                    <div class="img-box">
                        @* <img src="images/s1.png" alt="" /> *@
                    </div>
                    <div class="detail-box">
                        <h5>
                            Golden Opportunity for Researchers and Academics!

                        </h5>
                        <p>
                            In collaboration with Emerald Global, as part of the 4th Conference of Administrative Sciences Colleges in GCC Universities, bringing creativity and culture together under the theme:
                            "Cultural and Creative Economy: Present Potentials and Promising Opportunities"
                            <br />
                            We invite you to attend two exceptional workshops:
                            "Mastering the Path to Successful Academic Publishing"
                            <br />
                            Do you want to amplify your research visibility globally?
                            <br />
                            Are you looking to select the right journal and increase your citations?
                            <br />
                            Do you need strategies to avoid predatory journals and ensure research integrity?
                            <br />
                            These workshops are designed just for you!
                            <br />
                            <strong>First Session</strong>
                            <br />
                            Date: January 27th, 7:00 PM Riyadh Time
                            <br />
                            <div class="btn-box">
                                <a href="https://attendee.gotowebinar.com/register/1023744726313003608">
                                    Registration
                                </a>
                            </div>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 mx-auto">
                <div class="box ">
                    <div class="img-box">
                        @* <img src="images/s3.png" alt="" /> *@
                    </div>
                    <div class="detail-box">
                        <h5>
                            exploring Emerald Resources: Your Gateway to Excellence
                        </h5>
                        <p>
                            wJoin us for an exclusive training session on maximizing your research potential with Emerald Databases, as part of the 4th Conference of Administrative Sciences Colleges of GCC Universities under the theme:
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-box">
            <a href="">
                View More
            </a>
        </div>
    </div>
</section>


<section class="about_section layout_padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6">
                <div class="detail-box">
                    <h2>
                        About us
                    </h2>
                    <p>
                        The Fourth Conference of Administrative Sciences Colleges in the Universities of the Gulf Cooperation Council (GCC) is a leading scientific platform under the theme “Cultural and Creative Economy: Present Potential and Promising Opportunities.” The conference aims to explore the role of the cultural and creative economy in driving growth and sustainable development, while highlighting the promising opportunities offered by this vital sector. By bringing together academics, experts, and practitioners, the conference seeks to open new horizons for cooperation and knowledge exchange among the GCC countries, while also supporting innovation in the creative economy. Additionally, the conference welcomes participation from countries outside the GCC, providing a global platform for new opportunities in the creative sector.
                    </p>
                    <a href="">
                        Read More
                    </a>
                </div>
            </div>
            <div class="col-lg-7 col-md-6">
                <div class="img-box">
                    <img src="images/p3.jpeg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>


<section class="about_section layout_padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6">
                <div class="detail-box">
                    <h2>
                        Vision of the Conference

                    </h2>
                    <p>
                        To highlight the present capabilities of the cultural and creative economy, and explore promising opportunities for achieving sustainable development.

                        Mission of the Conference
                        To stimulate the cultural and creative economy, provide a platform for showcasing outstanding scientific research, and enhance dialogue between experts, researchers, and decision-makers while offering practical recommendations to reach new horizons.

                    </p>
                    <h3>
                        Objectives of the Conference
                    </h3>
                    <p>
                        Highlight the role of creativity and innovation in enhancing sustainable development and improving communities.
                        Stimulate the ability of individuals and communities to adapt to rapid changes through the exchange of innovative ideas.
                        Promote dialogue and collaboration between experts and decision-makers to provide practical recommendations that address current issues.
                        Encourage participants to discover their creative potential and make better use of their intellectual energies.

                    </p>

                    <a href="">
                        Read More
                    </a>
                </div>
            </div>
            <div class="col-lg-7 col-md-6">
                <div class="img-box">
                    <img src="images/p3.jpeg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>




<section class="about_section layout_padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6">
                <div class="detail-box">
                    <h2>
                        CCC_CBA 2025

                    </h2>
                    <p>
                        2 days of scientific studies
                        <br />
                        200 economic and cultural research papers
                        <br />
                        Over 7,000 attendees
                        <br />
                        Partners from around the world
                        <br />
                        10-panel discussions
                        <br />
                        50 local, Gulf, Arab, and global speakers

                    </p>
                    <a href="">
                        Read More
                    </a>
                </div>
            </div>
            <div class="col-lg-7 col-md-6">
                <div class="img-box">
                    <img src="images/p3.jpeg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>


@*  <section class="professional_section layout_padding">
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                  <div class="img-box">
                      <img src="images/profeional-img.png" alt="">
                  </div>
              </div>

          </div>
      </div>
  </section>  *@

<section class="service_section layout_padding">
</section>

<section class="client_section ">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Sponsers
            </h2>
        </div>
        <div class="carousel-wrap layout_padding2-top ">
            <div class="owl-carousel">
                <div class="item">
                    <div class="box">
                        <div class="client_id">
                            <div class="img-box">
                                <img src="images/client-1.jpg" alt="">
                            </div>
                            <div class="client_detail">
                                <div class="client_info">
                                    <h6>
                                        Jorch morik
                                    </h6>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="client_text">
                            <p>
                                chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="box">
                        <div class="client_id">
                            <div class="img-box">
                                <img src="images/client-2.jpg" alt="">
                            </div>
                            <div class="client_detail">
                                <div class="client_info">
                                    <h6>
                                        Jorch morik
                                    </h6>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="client_text">
                            <p>
                                chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="box">
                        <div class="client_id">
                            <div class="img-box">
                                <img src="images/client-1.jpg" alt="">
                            </div>
                            <div class="client_detail">
                                <div class="client_info">
                                    <h6>
                                        Jorch morik
                                    </h6>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="client_text">
                            <p>
                                chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="box">
                        <div class="client_id">
                            <div class="img-box">
                                <img src="images/client-2.jpg" alt="">
                            </div>
                            <div class="client_detail">
                                <div class="client_info">
                                    <h6>
                                        Jorch morik
                                    </h6>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="client_text">
                            <p>
                                chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
