@using Microsoft.Extensions.Localization
@using Saudi_FormEmail.Controllers
@inject IStringLocalizer<HomeController> localizer

@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">@localizer["WelcomeText"]</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
