﻿@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Mvc.Localization

@inject IOptions<RequestLocalizationOptions> locOptions
@inject IViewLocalizer localizer

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["Title"] = "Home Page";
}

<section class="about_section layout_padding-bottom" >
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6">
                <div class="detail-box">
                    <h2>
                        Sponsorship Value: 700,000 SAR

                    </h2>
                    <p>
                        Partner logo inclusion in the conference's marketing campaign.
                        <br />
                        Exclusive announcements of the strategic partnership before, during, and after the conference.
                       <br />
                        Partner logo displayed across all conference elements (entrance gate, directional signage, registration area, welcome board, conference screens, and advertising boards within the university).
                       <br />
                        Partnership announcement across all advertising channels.
                        <br />
                        Two full-page advertisements in the University Message newsletter, distributed weekly to all 28 colleges of King Saud University.
                        <br />
                        Marketing space in the electronic version of the University Message newsletter.
                        <br />
                        Advertising spaces on the university’s external and internal digital screens network.
                       <br />
                        Coordination and relationship-building with sponsors, partners, and conference teams.
                        <br />
                        Participation in presenting the Creativity Award.
                        <br />
                        Exhibition space of 50 square meters.
                        <br />
                        Participation in two panel discussions.
                        <br />
                        Delivery of two workshops.
                        <br />
                        Partner recognition by the event sponsor.

                         </p>
                    
                </div>
            </div>
           
        </div>
    </div>
</section>


<section class="about_section layout_padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6">
                <div class="detail-box">
                    <h2>
                        Premium Partner Benefits
                        Sponsorship Value: 500,000 SAR


                    </h2>
                    <p>
                        Partner logo inclusion in the conference's marketing campaign.
                        <br />
                        Exclusive announcements of the strategic partnership before, during, and after the conference.
                        <br />
                        Partner logo displayed across all conference elements (entrance gate, directional signage, registration area, welcome board, conference screens, and advertising boards within the university).
                        <br />
                        Partnership announcement across all advertising channels.
                        <br />
                        Half-page advertisement in the University Message newsletter, distributed weekly to all 28 colleges of King Saud University.
                        <br />
                        Marketing space in the electronic version of the University Message newsletter.
                        <br />
                        Participation in the Creativity Award.
                        <br />
                        Exhibition space of 50 square meters.
                        <br />
                        Participation in two panel discussions.
                        <br />
                        Delivery of one workshop.
                        <br />
                        Partner recognition by the event sponsor.



                    </p>

                </div>
            </div>

        </div>
    </div>
</section>

<section class="about_section layout_padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6">
                <div class="detail-box">
                    <h2>
                        Cultural Partner Benefits
                        Sponsorship Value: 400,000 SAR



                    </h2>
                    <p>
                        Partner logo inclusion in the conference's marketing campaign.
                        <br />
                        Partner logo displayed across all conference elements (entrance gate, directional signage, registration area, welcome board, conference screens, and advertising boards within the university).
                        <br />
                        Partnership announcement across all advertising channels.
                        <br />
                        Half-page advertisement in the University Message newsletter, distributed weekly to all 28 colleges of King Saud University.
                        <br />
                        Marketing space in the electronic version of the University Message newsletter.
                        <br />
                        Exhibition space of 36 square meters.
                        <br />
                        Participation in one panel discussion.
                        <br />
                        Delivery of one workshop.
                        <br />
                        Partner recognition by the event sponsor.




                    </p>

                </div>
            </div>

        </div>
    </div>
</section>



<section class="about_section layout_padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6">
                <div class="detail-box">
                    <h2>
                        Economic Partner Benefits
                        Sponsorship Value: 300,000 SAR




                    </h2>
                    <p>
                        Partner logo inclusion in the conference's marketing campaign.
                        <br />
                        Partner logo displayed across all conference elements (entrance gate, directional signage, registration area, welcome board, conference screens, and advertising boards within the university).
                        <br />
                        Partnership announcement across all advertising channels.
                        <br />
                        Marketing space in the electronic version of the University Message newsletter.
                        <br />
                        Exhibition space of 36 square meters.
                        <br />
                        Participation in one panel discussion.
                        <br />
                        Delivery of one workshop.
                        <br />
                        Partner recognition by the event sponsor.





                    </p>

                </div>
            </div>

        </div>
    </div>
</section>

<section class="about_section layout_padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6">
                <div class="detail-box">
                    <h2>
                        Creative Partner Benefits
                        Sponsorship Value: 250,000 SAR





                    </h2>
                    <p>
                        Partner logo inclusion in the conference's marketing campaign.
                        <br />

                        Partner logo displayed across all conference elements (entrance gate, directional signage, registration area, welcome board, conference screens, and advertising boards within the university).
                        <br />

                        Partnership announcement across all advertising channels.
                        <br />

                        Exhibition space of 30 square meters.
                        <br />

                        Participation in one-panel discussion.
                        <br />

                        Delivery of one workshop.
                        <br />

                        Partner recognition by the event sponsor.

                    </p>

                </div>
            </div>

        </div>
    </div>
</section>